    text {
        font: bold 48px monospace;
    }

    circle {
        stroke: #000;
        stroke-opacity: .5;
    }

    .enter {
        fill: green;
    }

    .update {
        fill: #333;
    }

    h1 {
        font: bold 16px monospace;
        text-align: right;
        margin: 0 0 0 0;
    }

    svg {
        border:1px solid black;
    }